#reading-section .blog-heading{
    font-size: 3rem;
    font-weight: 300;
}
 .sub-heading{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 10px 0;
}
.read-more{
    text-decoration: none;

}
.timing{
    color: rgba(0, 0, 0, 0.363);
}
#reading-section p{
    margin-bottom: 10px;
    color:rgba(0, 0, 0, 0.705);
}
ul li{
    list-style-type: none;
    padding-left: 10px;
    color:rgba(0, 0, 0, 0.705);
}
.blog-img{
    width: 50vw;
    margin: 10px 0;
}

#footer-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(20, 4, 92);
    border-top-right-radius: 25px;
    color: #fff;
}
#footer-section p{
    font-weight: 300;
}
#footer-section .contact-icon ul li a{
    cursor: pointer;
    color: #fff !important;
}
#footer-section ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}