* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary-color: rgb(13, 116, 212);
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-bottom-left-radius: 20px;
  padding: 25px 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
}
#navbar .brand-name h1 {
  font-weight: 300;
}
.navigation ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
}
.navigation ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.navigation ul li a:hover {
  color: #b7b4fc8e;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-container header {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.container {
  width: 700px;
  max-width: 100%;
  padding: 20px 10px;
  /* min-height: 90vh; */
  /* position: relative; */
}
.neo {
  color: rgb(7, 142, 231);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.project-list {
  padding: 30px 0;
}
.project-box {
  margin-bottom: 20px;
}
.project-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.project-des {
  margin: 5px 0 10px 0;
}
.btn {
  max-width: 100%;
  margin-right: 10px;
  background: rgb(7, 142, 231);
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: 0.5s all;
}
.btn:hover {
  background-color: rgb(7, 101, 163);
}
.btn a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 767px) {
  .container {
    padding: 10px 25px;
  }
}

#footer-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(20, 4, 92);
  border-top-right-radius: 25px;
  color: #fff;
}
#footer-section p {
  font-weight: 300;
}
